:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #EE4D2D;
  --border-color: #dbdbdb;
  --header-heigh: 120px;
  --header__navbar-heigh: 24px;
  --header__search: calc(var(--header-heigh) - var(--header__navbar-heigh)); }

* {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box; }

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto; }

.grid__full-with {
  width: 100%; }

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px; }

.grid__colum-2 {
  padding-right: 5px;
  padding-left: 5px;
  width: 16.667%; }

.grid__colum-10 {
  padding-right: 5px;
  padding-left: 5px;
  width: 83.333%; }

.grid__colum-2-4 {
  padding-right: 5px;
  padding-left: 5px;
  width: 20%; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }
.modal {
  animation: fadein linear 0.1s;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex; }

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

.modal__body {
  margin: auto;
  z-index: 1;
  background-color: var(--white-color);
  border-radius: 5px; }

.btn {
  min-width: 140px;
  height: 35px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--white-color);
  display: inline-flex;
  justify-content: center;
  align-items: center; }

.btn:hover {
  background-color: rgba(0, 0, 0, 0.1); }

.btn.btn--primary {
  color: var(--white-color);
  background-color: var(--primary-color); }

.btn.btn--disable {
  color: #949494;
  cursor: default;
  background-color: #c3c3c3; }

.btn.btn--size-s {
  height: 32px;
  font-size: 1.2rem;
  padding: 0 8px; }

.selection-input {
  min-width: 200px;
  height: 35px;
  padding: 0 12px;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
  align-items: center;
  position: relative; 
z-index: 2}
  .selection-input .selection-input--label {
    font-size: 1.4rem; }
  .selection-input .selection-input--icon {
    color: #4A4A4A;
    font-weight: 300; }
  .selection-input .selection-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 28px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 12px;
    list-style: none;
    display: none; }
    .selection-input .selection-input__list .select-input__item .selection-input__link {
      display: block;
      padding: 4px 0;
      font-size: 14px;
      color: var(--text-color);
      text-decoration: none; }
    .selection-input .selection-input__list .select-input__item .selection-input__link:hover {
      color: var(--primary-color); }
  .selection-input .selection-input__list::after {
    content: "";
    top: -8px;
    left: 0;
    width: 100%;
    height: 9px;
    position: absolute; }

.selection-input:hover .selection-input__list {
  display: block; }

.paginate {
  display: flex;
  font-weight: 300;
  font-size: 2rem;
  justify-content: center;
  align-items: center; }
  .paginate .paginate-item {
    list-style: none;
    margin: 0 8px; }
    .paginate .paginate-item .paginate-item__link {
      text-decoration: none;
      color: var(--text-color);
      min-width: 40px;
      height: 30px;
      display: block;
      text-align: center;
      line-height: 30px;
      border-radius: 2px; }
    .paginate .paginate-item .paginate-item__link.paginate-item__active {
      background: var(--primary-color);
      color: var(--white-color); }
    .paginate .paginate-item .paginate-item__link.paginate-item__active:hover {
      background-color: #fd765c; }

/*# sourceMappingURL=base.css.map */
